# --- 钉钉配置 ---

DINGTALK_CLIENT_ID="dingleg***"
DINGTALK_CLIENT_SECRET="pqPdOf-6****"
APP_ID="3de54692-***"
AGENT_ID="***"
DINGTALK_ROBOT_CODE="dingleg***"
DINGTALK_CHAT_ID=""
DINGTALK_CALLBACK_URL_BASE=""
DINGTALK_USER_PHONE="181***"

DINGTALK_USER_ID="***"
DINGTALK_TEMPLATE_ID="***"

# --- 本地路径配置 ---
HOLIDAY_FILE_PATH="holidays.json"

# --- 大模型配置 (Agent使用) ---
LLM_API_KEY="sk-***"
LLM_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
LLM_MODEL="qwen3.5-flash"